


/*****************************************************************************
 * Small screens:
 * Screen width/height < 500px OR device-width < 25em
 *****************************************************************************/

@media 
  screen and (max-device-width: 500px),
  screen and (max-device-width: 35em), 
  screen and (max-device-height: 500px),
  screen and (max-device-height: 35em)
{
   input, button {border-radius: 5px}
   
   div.toolbar {background: #cecb }
   .ol-attribution, .logo {visibility: hidden}
      
   div.POPUPMENU div div {
      font-size: 1.2em; 
      line-height: 1.5em;
      border-bottom: dotted 1px #999; 	
   }
   
   div.ITEM_sep {
      border-bottom: solid 1px #444 !important;
   }

   div.ITEM_last {border-bottom: none !important}
   .infopopup {max-width: 99%; margin-right: 1px !important; margin-left: -1px !important }

   .mousepos, .ui-tooltip {visibility: hidden}
   .ol-scale-line { bottom: 0.4em; }
   .popup_close {width: 2.1em; height: 2.1em !important; margin-top: -0.35em}
   div#layerSwitcher {line-height: 1.3em !important} 
   
   div#mySpeed>div {padding: 1em; padding-bottom: 0.5em;}
   div#mySpeed span.n {font-size: 3em; font-weight: bold}
   div#mySpeed span.kmh {font-size: 2.5em}
   
   h1.popupimg {font-size: 80%}
   img.popupimg {max-width: 100% !important}
   
   #backend h3 {font-size: 105%; margin-bottom: 0.6em }
   #backend div.butt {margin-top: 0.7em}
   #backend div.butt {margin-top: 0.7em}
   #backend table td {padding-left: 0.2em; padding-right: 0.2em; font-size: 98%}
   
   div#backend input[type="checkbox"]  { 
     transform: scale(1.6);
     margin: 0.3em; margin-left: 0.5em;
     transform-origin: center;  
  }
  
  div#camUpload input[type="checkbox"]  { 
     transform: scale(1.4);
     margin: 0.3em; margin-left: 0.5em;
     transform-origin: center;  
  }
          
   #mailbox span.txt {font-size: larger; display: inline-block; width: 95%}
   #mailbox input {font-size: 99%}
}



/* Portrait orientation */
@media 
  screen and (max-device-width: 500px),
  screen and (max-device-width: 35em) 
{
   #mailbox #msg {width: 17em !important}
   .widget {max-width: 98% !important; margin-left: -2px !important; margin-right: 2px !important}
   
   div#aprsObject input {max-width: 18em !important}
   div#aprsObject select {max-width: 12em !important}

   #toolbar_login {visibility: hidden; width: 0}
   #tb_measure {visibility: hidden; width: 0}
   .infopopup {min-width: 90% !important}
   #imagepopup {margin-left: -1px; margin-right: -1px}
   #mailbox {margin-left: -4px}
   .xxsleftlab {width: 2.8em;} 
}



/* Landscape orientation */
@media 
  screen and (max-device-height: 500px),
  screen and (max-device-height: 35em) 
{
    .infopopup {min-width: 23em !important}
    img.popupimg {max-height : 290px !important}                                                                                                                         
}





/*****************************************************************************
 * TABLETS
 *****************************************************************************/

@media 
     (min-device-width: 50em) and (-webkit-min-device-pixel-ratio: 2.0)

{
    div {font-size: 105%}
    .POPUP {font-size: 1.05em !important}
   .popup_close {width: 2.1em; height: 2.1em !important; margin-top: -0.35em}


    div.POPUPMENU div div {
      font-size: 1.4em; 
      line-height: 1.5em;
      border-bottom: dotted 1px #999; 	
   }
   
   .toolbar {
       margin-top: 2px; 
       height:42px; padding-top: 4px; 
   }
   .toolbar img {height: 36px; margin-left: 6px }
   
   #tb_draw, .ui-tooltip {visibility: hidden; width: 0}
   .ol-zoom {top: 75px}
   #filterChoice {margin-top: 2px}
   div#layerSwitcher {font-size: 120% !important; line-height: 1.4em !important}   
   div#layerSwitcher input {height: 1.3em !important}
}
 
 

 
/***************************************************
 * High resolution screen
 ***************************************************/

@media 
   screen and (min-resolution: 190dpi) and (-webkit-max-device-pixel-ratio: 2.0), 
   screen and (min-resolution: 300dpi) and (-webkit-max-device-pixel-ratio: 5.0)
{
       .POPUP {font-size: 1.15em !important}
       div#layerSwitcher input {vertical-align: middle; height: 1.4em !important; width: 1.5em }

}











