
.map {
        height: 100%;
        width: 100%;
        position: fixed; 
        background: #b5c0c0;
      }
 
 
 body { margin: 0px; }


.ol-attribution {
 text-align: left;
 width: 20em;
 bottom:0;
 left:.3em;
 background: #0000 !important;
}

.ol-attribution ul {
    background: #eee7;
    padding: 3px;
}

.ol-attribution button {
   visibility: hidden;
}

.toolbar {
    padding-left: 12px;
    padding-right: 0px;
    height: 32px; 
    top: 2px; left: 8px; 
    border: 1px solid #aaa; 
    background: #e6eee6ba;
    box-shadow: 1px 1px 12px #797;
    z-index: 1;
}
.toolbar:hover {
    background: #f0f4f0ba;
}


.toolbar img {margin: 5px; margin-top: 3px}
.toolbar img:hover {background: #ffe; border-radius: 6px}
.toolbar .x-space {margin-right: 15px}
.toolbar>div {height: 32px;float: left; display: inline; margin-right: 15px}


img.selected {background: #f60 !important}

.mousepos {
        border: solid 1px #666;
        bottom: 0.3em;
        right: 0.3em;
        width:14em;
        text-align: center;
        background:rgba(220,220,220,.7); 
        box-shadow: 1px 1px 12px #797;
    z-index: 1;
}

.scale {
    border-bottom: 2px solid #888;
    background:rgba(240,250,240,.5); 
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    font-size: 0.9em;
}

.mouse_utm {
    padding-top: 0.4em;
}


.mouse_latlong span {background: #ffd}


.mouse_latlong {
    font-size: 0.8em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.mouse_maidenhead {
    font-size: 0.9em;
    color: blue;
}

.ol-scale-line {
	background:rgba(235,255,235,.6);
	border-radius:4px;
	bottom:6.8em;
	left: auto;
    right:0.7em;
    z-index: 1
}


.ol-scale-line-inner {
	border:1px solid #000;
	border-top: dashed 1px;
	border-bottom: dashed 1px;
        border-left: 3px solid black; 
	border-right: 3px solid black;
	color: black;
	font-size:10px;
	text-align:center;
	margin:-1px;padding: 1px;
        left: unset;
	will-change:contents,width
}


.tooltip {
   position: relative;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 4px;
   color: white;
   padding: 2px 6px;
   opacity: 0.8;
   white-space: nowrap;
   box-shadow: 3px 3px 5px #242;
   font-size: 0.9em;
}
.tooltip-measure {
   opacity: 1;
   font-weight: bold;
}
.tooltip-static {
   background-color: #e5f5e5;
   color: black;
   border: 1px solid #555;
}

.tooltip-measure:before,
.tooltip-static:before {
   border-top: 7px solid rgba(0, 0, 0, 0.5);
   border-right: 7px solid transparent;
   border-left: 7px solid transparent;
   content: "";
   position: absolute;
   bottom: -7px;
   margin-left: -7px;
   left: 50%;
}
.tooltip-static:before {
   border-top-color: #11e;
}


#sarmode {margin-left: -4px; padding-bottom: 1px}
.sar_visible {visibility: visible}
.sar_hidden {visibility: hidden; width: 0}


img.logo { 
    position: absolute; 
    left: 6px; 
    bottom: 1.7em
}

span.welcome {
    overflow: scroll;
    display: inline-table;
    max-width: 75em
}

.welcome {overflow: scroll}

.welcome p, welcome ul{
    margin-left: 0.5em;
    margin-right: 2em;
}
.welcome li {
    padding-bottom: 0.5em
}

.removeEdit img {height: 14px}
.removeEdit {margin-right: 0.2em}



