
button, input {font-size: 90%}

div.POPUP img.popup_pin {
  visibility: hidden;
}
div.POPUP img.popup_close {
  position: inherit;
  top: 0.55em;
  right: 0.3em;
  height: 1.3em;
}


div.POPUP, div.POPUPMENU
{
  font-family: Helvetica, sans-serif; 
  font-size: 95%;
  border: 1px solid #777;
  box-shadow: 3px 3px 5px #242;
}

div.POPUP {
  line-height: 1.2em;
  background: #f0f5ec;
  z-index: 1301 !important; 
  padding: 0.3em !important;
  min-width: 2em;
  border-radius: 4px;
  max-height: 95%; 
  margin-left: 7px; 
  margin-right: 7px; 
}

div.widget { overflow: hidden !important;}


div.POPUPMENU {
  padding-bottom: 0.3em;
  margin-bottom: 0.7em;
  line-height: 1.3em;
  background: #eed; 
  z-index: 1301 !important;
}

div.POPUPMENU > div > div
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  padding-left: 0.6em;
  padding-right: 0.5em; 
}

div.ITEM_sep {
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: solid 1px #555;
}


div.ITEM_hover, #mapref_link:hover, .link_id:hover
{
  background:#944;
  color: white;
}


span#mapref_link { 
    display: block; 
    font-family:Arial,Helvetica,sans-serif; 
    font-size: 80%;
    margin-top: -0.3em; 
    margin-bottom: 0.1em; margin-left: 0.2em 
}


div.ITEM_selected
{
  background: yellow;
  color: #400;
}


.POPUP h1, .POPUPMENU h1 { 
  font-family: arial, helvetica, sans-serif; 
  font-size: 1.2em; 
  margin-bottom: 0.5em; 
  background: #cfd5cc;
  padding: 0.6em  0.8em 0.3em 0.5em;
  border-bottom: dotted 1px #777;
  margin: -4px;
  margin-bottom: 0.8em;
}


.POPUPMENU h1 {margin: 0px; padding: 2px; font-size: 1.1em;margin-bottom: 3px}


th, td {font-size: 90%;}

th { 
  text-align: left;  
  background: #fb9; 
  border: #d86 1px solid; 
  padding: 0 0 0 0.5em
}


table, #searchresult table, #userList table
{border-collapse: collapse;}

.items td, #historypopup td, #searchresult td, #userList td, #rawAprs td {
  padding-left: 0.5em; 
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  line-height: 1em;
  border: 1px #d86 dotted
}

tr {height: 12px;}

tr:hover {background: #ff8}

td {color: #111;}
td.onserver {color: #050;font-style: normal}
span#found {color: green; font-style: italic}

#searchresult span.obj {color: green;}
#searchresult span.name {color: #00a;}

#searchresult span.alias {
    background: #fff; border-left: solid red 2px; 
    padding-left: 2px; margin-left: -2px
}

#userList td span.removeEdit img { 
  margin-top: -1px; margin-bottom: -1px
}

#userList {
   margin-top: 0.5em;
}

.leftlab, .sleftlab, .xsleftlab, label.lleftlab {
  float: left;
  width: 9.0em;
  text-align: right;
  padding-right: 7px;
  color: gray;
  padding-top: 0.1em;
}

.sleftlab {
  width: 5.5em;
} 

.xsleftlab {
  width: 4em;
} 

.lleftlab {
  width: 7em;
}


span.kartref {
  padding: 0px 0px 0px 0px;
  color: #880000;
}


span.kartref:hover {
  font-weight: bold; 
  border: solid 2px #eeaaaa;
}


div#tags { 
  columns: 3; 
  column-width: 1em; 
  -moz-columns: 3; 
  -moz-column-width: 1em; 
  -webkit-columns: 3; 
  -webkit-column-width: 1em; 
  border:1px dotted #555; 
  background: #ddc; 
  width: 32em; 
  padding: 3px
}
div#tags input {margin: 0.15em}
div#tags span {display: block}


input[type=text] {background: white; height: 1.6em}
input[readonly]  {background: #cef; height: 1.6em}
input[disabled]  {background: #ccc}
input.valid      {background: #dfd}
input.invalid    {background: #fdd}


input#search {margin-top: 0.7em; width: 18em}



h1, #layerSwitcher h2 { 
  font-family: arial, helvetica, sans-serif; 
  font-size: 1.2em; 
  margin-bottom: 0.5em; 
  background: #cfd5cc;
  padding: 0.8em  0.8em 0.5em 0.5em;
  border-bottom: dotted 1px #777;
  margin: -4px;
  margin-bottom: 0.8em;
}

#layerSwitcher h2{ padding: 0.2em 0.8em 0.2em 0.5em; margin-bottom: 0.4em;}

#layerSwitcher {line-height: 1.6em}
#layerSwitcher h2:last-of-type {margin-top: 0.2em}
#layerSwitcher form {margin-left: 0.4em}


img.popupimg {max-width: 600px}


#infopopup {
  min-width: 26em;
}

div.trblock, label {
    display: block; overflow: hidden; 
    margin-bottom: 0.07em; 
    max-width: 45em; 
    vertical-align: top;
    margin-bottom: 0.2em;
}
div.trblock {
    font-size: 90%
}


div#traffic, div#wpsresult {margin-top: 0.4em}

form.mapref { min-width: 28em; margin-bottom: 0.5em }
form.mapref hr { border: dotted 1px #888 }


#utmz {width: 2.5ch;}
#utmnz {width: 2ch; }
#utmx {width: 6.3ch; }
#utmy {width: 7.3ch; }
#locx,#locy {width: 4ch; }
#ll_Nd {width: 2.2ch}
#ll_Nm {width: 7ch}
#ll_Ed {width: 3.1ch}
#ll_Em {width: 7ch}

#editArea {margin: 0.25em}

#layerEdit {min-width: 32em}
#layerEdit table {margin-left: 5.7em; margin-bottom: 0.4em}
#layerEdit>div, #trackerEdit>div {padding-top: 0.8em; border-top: 2px solid #999}

#layerEdit div.spec {
   border: 1px dotted #bbb; 
   background: #e0e5dc; 
   margin-top: 0.5em; 
   padding-top: 0.4em; 
   padding-bottom: 0.4em
}

#wmsUrl, #wfsUrl, #wfsFtype, #wmsLayers {width: 28em}
#editLayer, #wfsLabel {width: 16em}

#layerEdit div.buttons {
  padding-left: 5.7em; padding-top: 0.3em; 
  border-top: 2px solid #aaa
}

#layerEdit div.wserver {margin-top: 0.5em}

#layerEdit #vis {margin-bottom: 0.5em}

button {
 border:1px outset #bbb;
 padding:.18em;
 padding-left:.45em;
 padding-right:.45em;
 margin:3px;
 background:#ded;
 border-radius:3px;
 outline: none;
 background: linear-gradient(#efe, #ded, #cdc, #bcb);
}

button:hover {
  background: linear-gradient(#fff, #efe, #ded, #cdc);
}

button:active {border: 1px inset #999; background: #efe}

button::-moz-focus-inner {
  border: none;
}

#hist_back {color: gray}
.searchMode {
    color: black !important;
	animation:blinkingBox .9s infinite;
}

@keyframes blinkingBox {
 0%   { background:linear-gradient(#fcc,#faa,#e99) }
 48%  { background:linear-gradient(#fcc,#faa,#e99) }
 52%  { background:linear-gradient(#eee,#ccc,#aaa) }
 100% { background:linear-gradient(#eee,#ccc,#aaa) }
}

img.marker {margin-top: -9px; margin-left: -9px; border: 10px #FF00 solid; border-radius: 20px; background: #ff57}

#iconpick>img { 
    padding: 1px; margin: 1px; 
    border: 1px solid #aaa; background: 
    white; height: 22px; width: 22px
}

#iconpick  {vertical-align: top}

div#iconlist {
    visibility: hidden;  margin-top: -5em;
    border: solid 2px #977; max-width: 20em;  position: fixed; background: #ddc
}


div#iconlist>img 
   { padding: 2px 1px 0px 1px; border 1px #ddc }
   
div#iconlist>img:hover 
   { background: white; border: 1px dotted red; margin: -1px } 


.dragdrop {
    border: 3px dotted; margin-bottom: 5px; padding: 0.3em; 
    background: #cee; width: 25em; min-height: 3em;
    display: inline-block; font-size: x-small
}
.dragdrop img {vertical-align: middle}
.dragover {background: #cfc}

.link_id {color: #00a;}

div.errmsg {color: red; margin-left: 2em; margin-bottom: 0.8em}

input {max-height: 1.4em; margin-bottom: 0.1em}
button {padding: 0.1em 0.6em 0.1em 0.6em; margin-top: 0 }
select {max-height: 1.8em; font-size: 90%;}
select option {font-size: 80%}
.field {display: flex; align-items: center; margin-top: 2px}
.field {line-height: 1.15em}
.field label {margin-bottom: -2px}
div#traffic {line-height: 1em; margin-top: 0.6em }
.field label.leftlab {margin-bottom: 0px}
