
        
div.lstill, div.lobject, div.lmoving {
   border: 1px solid #766;   
   font-family: Arial, sans-serif;   
   font-weight: bold;
   font-size: 100%;
   white-space: nowrap;
   padding: 1px 3px 1px 3px; 
   opacity: 0.88;
   border-radius: 0.3em;
   box-shadow: 2px 2px 5px #242;
}

div.lstill {
      background: #ffffb8;
}

div.lmoving {
      background: #ffdd87;
}


div.lobject {
      background: #e7f4ff;
      font-weight: normal;
      opacity: 0.88;
}

div.lflash {
   text-decoration: blink;
   border: solid 3px red;
   color: #c44;
}


div.tracked {
   color: #60d;
   border: #45e 5px double;
}
div.igate { background: #dfc; border: 2px solid #262}
div.wdigi { background: #fcc; border: 2px solid #522}
div.own   { background: #ccffcc; color: #0000cc }


#filterChoice {
   font-size: 0.75em; font-family: sans-serif;  font-weight: bold; 
   color: #060; padding-top: 9px; height: 23px; 
   display: inline; float: right
}


#toolbar_not {float: right}

#not_number {
    position: relative; top:-18px; font-size: 13px; padding-left: 2px; 
    padding-right: 2px; left: -14px; color: #ffa; border-radius: 5px; 
    background: #d00; font-weight: bold; font-family: arial; padding-top: -2px; 
}



#notifications td img {height: 1.5em}
#notifications tr {border-bottom: 1px dotted #555;}
#notifications td div {margin-bottom: 1px margin-top: }
#notifications img.icon {height: 27px; width: 27px; margin-right: 6px}
#notifications div span.header {font-size: 0.9em; color: #262;}
#notifications td+td {padding-bottom: 3px; padding-right: 10px}
#notifications td div img { height: 13px; margin-bottom: -1px; margin-left: 10px; }
#notifications .scroll {overflow-y: auto; margin-right: -6px}

#bullboard h4 {margin-bottom: 0.3em; margin-top: 0.6em}
#bullboard .content>table>tr  {background: #eed; border: 2px solid #778; vertical-align: top; font-size: 1.1em}
#bullboard .content>table>tr>td {padding: 0.2em 0.2em 0.1em 0.3em}
#bullboard .content>table>tr>td {border-right: 2px solid #778; }
#bullboard table table td {padding: 0; min-width: 42em; }
#bullboard td.time {min-width: 3.7em;text-align: right; font-size: 0.8em; color: #065; border-left: 1px dotted #666}
#bullboard .selected {font-weight: bold; color: #700; text-decoration: underline}
#bullboard {width: 48.5em}
#bullboard .scroll {overflow-y: auto; overflow-x: hidden; margin-right: -5px}


.datepick input {width: 7em; }

table.hist {margin-top: -0.2em; margin-bottom: -0.2em}
table.hist td {padding-bottom: 0; padding-top: 0; padding-right: .7em; height: 0.5em;}
table.hist tr {border-bottom: 1px dotted #999; height: 0.5em !important}
table.hist tr:last-child {border-bottom: none}
table.hist img {height: 13px}


div.histt {
   margin-top: 0.6em; margin-bottom: 0.6em; 
   border-top: 2px solid #999; border-bottom: 2px solid #999; 
   padding-top: 0.2em; padding-bottom: 0.2em
}

.histt table td {padding-bottom: 0; padding-top: 0; padding-right: .7em; height: 0.5em;}
.histt table tr {border-bottom: 1px dotted #999; height: 0.5em !important}
.histt table tr:last-child {border-bottom: none}
.histt table img {height: 13px}

table.mytrackers {margin-top: -0.2em; margin-bottom: 0.4em}
table.mytrackers td {padding-bottom: 0; padding-top: 0; padding-right: .7em; height: 0.5em;}
table.mytrackers td { height: 0.5em !important}
table.mytrackers img {height: 15px}
