Source: polaric-webapp2
Section: hamradio
Priority: optional
Maintainer: Øyvind Hanssen <ohanssen@acm.org>
Build-Depends:  debhelper (>=10)
Standards-Version: 3.9.8
Homepage: http://aprs.no/polaricserver

Package: polaric-webapp2
Architecture: all
Depends: apache2, apache2-utils, libapache2-mod-mapcache, mapcache-tools, lsb-base, ${misc:Depends}
Recommends:  polaric-aprsd (>= 2.4)
Conflicts: polaric-webapp, polaric-aprsd (<< 2.4)
Description: Polaric Server: Web application. 
 The "Polaric Server" is mainly a web based service to present APRS 
 tracking information on maps and where the information is updated at real-
 time. It is originally targeted for use by radio amateurs in voluntary search
 and rescue service in Norway. It consists of a web application and a server 
 program (APRS daemon). 
 .
 The web application lets the user browse maps. It can present live APRS 
 information (from the aprsd backend) on top of the map. Users can update 
 information, add objects, etc.. With the use of mapcache and possibly 
 mapserver libraries, the application can render and/or cache map tiles. 
 Web clients can also be set up to use local or external map sources. 
 
